# Configurações do Banco de Dados & Autenticação
MONGO_URL=mongodb+srv://user:pass@cluster.mongodb.net/?appName=Cluster0
DB_NAME=TechService
CORS_ORIGINS=*
JWT_SECRET=y99EWy4N5JViT2m49FViuk3RXPdL99JCr6f2BDG7vRVo7mno-HCTjqBlg0NtXnzE
WEBHOOK_CRON_SECRET=W7dV0-U9RC3PtcTC760o0uy3KPh3hit_JWfEJabyBtv33Ih_VON5gTHgzVDIzS3g
APP_URL=https://seu-projeto.vercel.app

# Integração Cakto Pay
CAKTO_WEBHOOK_SECRET=sua_chave_secret_da_cakto
CAKTO_CHECKOUT_STARTER_MONTHLY=https://pay.cakto.com.br/byvqwzf_1104578
CAKTO_CHECKOUT_STARTER_ANNUAL=https://pay.cakto.com.br/bed9jz4
CAKTO_CHECKOUT_PRO_MONTHLY=https://pay.cakto.com.br/d97ai8v_1104582
CAKTO_CHECKOUT_PRO_ANNUAL=https://pay.cakto.com.br/poqag6s
CAKTO_CHECKOUT_ENTERPRISE_MONTHLY=https://pay.cakto.com.br/34mt2ad_1104585
CAKTO_CHECKOUT_ENTERPRISE_ANNUAL=https://pay.cakto.com.br/bf7oo52
